[user]
	name = Eric Edmond
	email = ericed3022@gmail.com
[alias]
	lg = log --graph --pretty=format:'%Cred%h %Cblue%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit
	cmt = commit -m
	rh = reset --hard
	f = fetch --prune
	s = status
	ss = status --ignore-submodules
	rho = reset --hard origin/master
	a = add
	aa = add -A
	dh = diff HEAD
	amd = commit --amend --no-edit
	cfg = config --list
	sync = pull origin main
	rc = rebase --continue
	nb = "!f() { git checkout -b user/ericed/$1; }; f"
	db = "!f() { git branch -D user/ericed/$1; }; f"
	dba = "!f() { git branch --merged origin/main | grep -v '^[ *]*main$' | xargs -n1 -r git branch -d; }; f"
	co = "!f() { git checkout user/ericed/$1; }; f"
	pb = "!f() { git push -u origin user/ericed/$1; }; f"
	pf = "!f() { git push -f origin user/ericed/$1; }; f"
	fp = push -f
	on = "!f() { git rebase --onto user/ericed/$1 HEAD~1; }; f"
	wt = "!f() { git worktree add ~/Developer/worktrees/$ user/ericed/$1; }; f"
	nwt = "!f() { git worktree add ~/Developer/worktrees/$ -b user/ericed/$1; }; f"
	dwt = "!f() { git worktree remove $1; }; f"
	wl = worktree list
[log]
	follow = true
[rebase]
	updateRefs = true
[merge]
	tool = diffview
[mergetool]
    prompt = false
	keepBackup = false
[mergetool "diffview"]
	cmd = nvim -n -c "DiffviewOpen" "$MERGE"
[diff]
	tool = diffview
[difftool "diffview"]
	cmd = nvim -c "DiffviewOpen"
[pull]
	rebase = true
[core]
	editor = nvim -f
