[user]
	name = Eric Edmond
	email = ericed3022@gmail.com
[alias]
	lg = "log --graph --pretty=format:'%C(#f38ba8)%h %C(#89b4fa)%an%Creset -%C(#f9e2af)%d%Creset %s %C(#a6e3a1)(%cr)%Creset' --abbrev-commit"
	mrgs = lg --first-parent --merges
	cmt = commit -m
	rh = reset --hard
	f = fetch --prune
	s = status
	ss = status --ignore-submodules
	rho = reset --hard origin/master
	a = add
	aa = add -A
	dh = diff HEAD
	amd = commit --amend --no-edit
	cfg = config --list
	sync = pull origin main
	rc = rebase --continue
	nb = "!f() { git checkout -b user/ericed/$1; }; f"
	db = "!f() { git branch -D user/ericed/$1; }; f"
	dba = "!f() { git branch --merged origin/main | grep -v '^[ *]*main$' | xargs -n1 -r git branch -d; }; f"
	co = "!f() { git checkout user/ericed/$1; }; f"
	pb = "!f() { git push -u origin user/ericed/$1; }; f"
	pf = push --force-with-lease
	on = "!f() { git rebase --onto user/ericed/$1 HEAD~1; }; f"
	wt = "!f() { git worktree add ~/Developer/worktrees/$ user/ericed/$1; }; f"
	nwt = "!f() { git worktree add ~/Developer/worktrees/$ -b user/ericed/$1; }; f"
	dwt = "!f() { git worktree remove $1; }; f"
	wl = worktree list
[log]
	follow = true
[rebase]
	updateRefs = true
[merge]
	tool = vscode
	conflictstyle = zdiff3
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[pull]
	rebase = true
[core]
	editor = nvim -f
[push]
	autoSetupRemote = true
[rerere]
    enabled = true
[color]
    ui = auto
[color "branch"]
    current = "#a6e3a1 reverse" # green
    local = "#89b4fa" # blue
    remote = "#f38ba8" # red
[color "diff"]
    meta = "#f9e2af bold" # yellow
    frag = "#89b4fa bold" # blue
    old = "#f38ba8 bold" # red
    new = "#a6e3a1 bold" # green
[color "status"]
    added = "#a6e3a1" # green
    changed = "#f38ba8" # red
    untracked = "#fab387" # peach
